<h6>cuota mensual</h6>
<form name="personale3" class="m-formClient">
    <div class="-fields">
        <label>Couta sin seguro C.P.</label>
        <a>{{datos3.cuotaSnseguro}}</a>
    </div>

    <div class="-fields" ng-show="max == true">
        <label>Seguro Mes Cuota Protegida</label>
        <a ng-class="{font15: validateNumbers(datos1.monto,'>',4000000) || validateNumbers(datos1.edad,'>',70) }" >{{datos3.cuotaProtegida}}</a>
    </div>

    <div class="-fields" ng-show="max == true">
        <label>Prima seguro por mill&oacute;n</label>
        <a>{{datos3.primeraSeguro}}</a>
    </div>

    <h6>Primera Cuota</h6>

    <div class="-fields">
        <label>Capital</label>
        <a>{{datos3.capital}}</a>
    </div>

    <div class="-fields">
        <label>Intereses</label>
        <a>{{datos3.intereses}}</a>
    </div>

    <div class="-fields">
        <label>Seguro de vida</label>
        <a>{{datos3.segurodevida}}</a>
    </div>


    <div class="-button green w100">
        <span class="w60" ng-click="next(personale3)">Siguiente</span>
    </div>
</form>
