<div ui-view>
    <section class="o-datosp tiposprestamos" ng-controller="tiporestamoController as tipos">
        <div class="m-banner">
            <img src="img/banner/Header simulador_02.png" alt="">
        </div>
        <div class="-list">
            <div class="-item" ng-click="next(1);">
                <span>Pr&eacute;stamo Personal</span>
            </div>
            <div class="-item" ng-click="opensub()">
                <span>Pr&eacute;stamo Veh&iacute;culo</span>
                <ul ng-show="sub">
                    <li ng-click="next(2.1);">Tradicional</li>
                    <!-- <li ng-click="next(2.2);">14 Cuotas</li> -->
                    <li ng-click="next(2.3);">Premium</li>
                </ul>
            </div>
            <div class="-item" ng-click="next(3);">
                <span>Pr&eacute;stamo Vivienda</span>
            </div>
        </div>
    </section>
</div>
