<div class="m-list-report">

  <h5 ng-click="mHistorial();">recientes  <i>+</i></h5>
  <div class="-list">
    <ul>
      <li ng-click="detailsOpen($index)" ng-repeat="data in listaCotizaciones | limitTo: 3" class="{{ data.class }}">
        <p class="-date" ng-bind-html="data.post_date"></p>
        <p class="-client">
          <span class="-name">{{ data.fields.nombre_del_cliente }} {{ data.fields.apellido_del_cliente }}</span>
          <span class="-type">{{ data.category }}</span>
        </p>
      </li>
      <li class="-empty-report" ng-show="listaCotizaciones.length == 0" >
          <span class="-name">No se Tienen Cotizaciones en este mes.</span>
      </li>
    </ul>
  </div>

  <div class="-link-more" ng-click="initSimulate()"></div>
</div>
