<h6>CUOTA MENSUAL</h6>
<form name="fromVehiculo34" class="m-formClient">
    <div class="-fields">
        <label>Tasa final al cliente</label>
        <a>{{datos3.tasafinalCliente}}</a>
    </div>
    <div class="-fields">
        <label>Monto a financiar</label>
        <a>{{ datos3.TotalAbonoCapital }}</a>
    </div>

<!--     <div class="-fields">
        <label>Cuota mensual (I + K + T.G.)</label>
        <a>{{ datos3.cuotaMentsual }}</a>
    </div> -->

    <div class="-fields">
        <label>Seguro de Vida</label>
        <a>{{ datos3.segurovida }}</a>
    </div>

    <div class="-fields">
        <label>P&oacute;liza Colectiva</label>
        <input ng-numberfake type="tel" ng-money ng-change="tranqulidad_global()" ng-model="datos3.polizaColectivaField" name="" required>
    </div>

    <div class="-fields" ng-show="datos1.polizaColectiva == 'SI'">
        <label>Tranquilidad Global ({{ datos2.tranquilidadglobal || 'TG' }})</label>
        <a>{{datos3.tranquilidadGloblafield}}</a>
    </div>

<!--     <div class="-fields" ng-show="datos1.polizaColectiva == 'SI'">
        <label>Promedio Abono capital con T. G.</label>
        <a>{{datos3.promedioabonoCapital}}</a>
    </div>
 -->
    <div class="-button green w100">
        <span class="w60" ng-click="next(fromVehiculo34)">Siguiente</span>
    </div>
</form>
